@tailwind base;
@tailwind components;
@tailwind utilities;
.BG_OurProjects {
    background-image: url('../assets/mobile-dev-project.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-button-next {
    background-image: url(../assets/right.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 50px;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url(../assets/left.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-left: 50px;
}

.swiper-button-prev::after {
    display: none;
}